/* Estilos para o contador de jogadores */
.player-card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 5px;
  flex: 0 0 19%;
  max-width: 19%;
}

.player-card h4 {
  margin-bottom: 10px;
}

.player-card .btn {
  margin: 2px;
}


@media (max-width: 767.98px) {
  .player-card {
      flex: 0 0 48%;
      max-width: 48%;
  }
}

@media (max-width: 575.98px) {
  .player-card {
      flex: 0 0 98%;
      max-width: 98%;
  }
}
