#counterError {
  display: none;
}

.counter-card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 5px;
}
.counter-card h4 {
  margin-bottom: 10px;
}
.counter-card .btn {
  margin: 2px;
}